In [20]:
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [21]:
tickers=["VALE3.SA", "BRAP4.SA"]
carteira = yf.download(tickers, start="2019-01-01")['Adj Close'].dropna()
carteira.tail()

[*********************100%***********************]  2 of 2 completed

            BRAP4.SA   VALE3.SA
Date
2023-09-25     22.25  66.599998
2023-09-26     22.02  65.559998
2023-09-27     21.91  65.699997
2023-09-28     22.33  66.699997
2023-09-29     22.83  67.379997

In [22]:
retorno_seguranca = np.log(carteira / carteira.shift(1))
retorno_seguranca.tail()

            BRAP4.SA  VALE3.SA
Date
2023-09-25 -0.020904 -0.020803
2023-09-26 -0.010391 -0.015739
2023-09-27 -0.005008  0.002133
2023-09-28  0.018988  0.015106
2023-09-29  0.022144  0.010143

In [23]:
retorno_seguranca[[tickers[0],tickers[1]]].var()

VALE3.SA    0.000671
BRAP4.SA    0.000927
dtype: float64

In [24]:
retorno_seguranca[[tickers[0],tickers[1]]].var() *250

VALE3.SA    0.167780
BRAP4.SA    0.231684
dtype: float64

In [25]:
cov_matrix = retorno_seguranca.cov()
cov_matrix_a = retorno_seguranca.cov() *250

In [28]:
corr_matrix = retorno_seguranca.corr()
corr_matrix

          BRAP4.SA  VALE3.SA
BRAP4.SA  1.000000  0.697131
VALE3.SA  0.697131  1.000000