In [160]:
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [161]:
tickers=["BBDC4.SA", "GGBR4.SA", "BRAP4.SA", "CMIG4.SA", "CAML3.SA"]
dist=np.array([19.13,18.49, 1.39, 0.08, 0.97]) /100
carteira = yf.download(tickers, start="2001-01-01")['Adj Close'].dropna()
carteira.tail()

[*********************100%***********************]  5 of 5 completed

            BBDC4.SA   BRAP4.SA  CAML3.SA   CMIG4.SA   GGBR4.SA
Date
2023-09-25     14.11  22.250000      8.00  12.750056  24.400000
2023-09-26     13.96  22.020000      7.71  12.480000  24.430000
2023-09-27     13.92  21.910000      7.59  12.370000  24.450001
2023-09-28     14.25  22.330000      7.60  12.400000  24.299999
2023-09-29     14.26  22.809999      7.72  12.260000  24.180000

In [162]:
retorno_seguranca = np.log(carteira / carteira.shift(1))
retorno_seguranca.tail()

            BBDC4.SA  BRAP4.SA  CAML3.SA  CMIG4.SA  GGBR4.SA
Date
2023-09-25 -0.002831 -0.020904 -0.009950  0.003871  0.005754
2023-09-26 -0.010688 -0.010391 -0.036923 -0.021408  0.001229
2023-09-27 -0.002869 -0.005008 -0.015687 -0.008853  0.000818
2023-09-28  0.023430  0.018988  0.001317  0.002422 -0.006154
2023-09-29  0.000702  0.021268  0.015666 -0.011354 -0.004950

In [163]:
retorno_seguranca[tickers].var()

BBDC4.SA    0.000530
GGBR4.SA    0.000725
BRAP4.SA    0.000843
CMIG4.SA    0.000566
CAML3.SA    0.000529
dtype: float64

In [164]:
retorno_seguranca[tickers].var() *250

BBDC4.SA    0.132395
GGBR4.SA    0.181244
BRAP4.SA    0.210711
CMIG4.SA    0.141481
CAML3.SA    0.132342
dtype: float64

In [165]:
cov_matrix = retorno_seguranca.cov()
cov_matrix_a = retorno_seguranca.cov() *250

In [166]:
corr_matrix = retorno_seguranca.corr()
corr_matrix

          BBDC4.SA  BRAP4.SA  CAML3.SA  CMIG4.SA  GGBR4.SA
BBDC4.SA  1.000000  0.292451  0.247675  0.580254  0.466343
BRAP4.SA  0.292451  1.000000  0.151111  0.250991  0.537771
CAML3.SA  0.247675  0.151111  1.000000  0.288510  0.214238
CMIG4.SA  0.580254  0.250991  0.288510  1.000000  0.423262
GGBR4.SA  0.466343  0.537771  0.214238  0.423262  1.000000

In [167]:
# Variancia carteira

cart_var = (np.dot(dist.T, (np.dot(retorno_seguranca.cov() *250, dist))))
cart_var

0.01654424333024849

In [168]:
# Volatividade carteira (risco)
cart_vol = (np.dot(dist.T, (np.dot(retorno_seguranca.cov() *250, dist)))) ** 0.5

print(round(cart_vol, 2) *100, "%")

13.0 %