In [50]:
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [51]:
tickers=["CAML3.SA", "AGRO3.SA"]
carteira = yf.download(tickers, start="2019-01-01")['Adj Close'].dropna()
carteira.tail()

[*********************100%***********************]  2 of 2 completed

             AGRO3.SA  CAML3.SA
Date
2023-09-25  28.190001      8.00
2023-09-26  27.530001      7.71
2023-09-27  27.820000      7.59
2023-09-28  27.900000      7.60
2023-09-29  28.330000      7.73

In [52]:
retorno_seguranca = np.log(carteira / carteira.shift(1))
retorno_seguranca.tail()

            AGRO3.SA  CAML3.SA
Date
2023-09-25  0.009982 -0.009950
2023-09-26 -0.023691 -0.036923
2023-09-27  0.010479 -0.015687
2023-09-28  0.002871  0.001317
2023-09-29  0.015295  0.016961

In [53]:
for ticker in tickers:
    print("Retorno diario", ticker, ":",  retorno_seguranca[ticker].mean() *100)
    print("Retorno anualisado", ticker, ":",  retorno_seguranca[ticker].mean() * 250 *100)

Retorno diario CAML3.SA : 0.019102144112033752
Retorno anualisado CAML3.SA : 4.775536028008438
Retorno diario AGRO3.SA : 0.07802637341258505
Retorno anualisado AGRO3.SA : 19.50659335314626

In [54]:
# desvio padrÃ£o para medir volatividade
for ticker in tickers:
    print("std diario", ticker, ":",  retorno_seguranca[ticker].std())
    print("std anualisado", ticker, ":",  retorno_seguranca[ticker].std() * 250 ** 0.5)

std diario CAML3.SA : 0.02368717381907412
std anualisado CAML3.SA : 0.374527103002917
std diario AGRO3.SA : 0.020148952549230447
std anualisado AGRO3.SA : 0.3185829126111208

In [55]:
ticker1 =   retorno_seguranca[tickers[1]].std() * 250 ** 0.5
ticker0 =  retorno_seguranca[tickers[0]].std() * 250 ** 0.5

if ticker1 > ticker0:
    print(tickers[0], "tem menos risco que", tickers[1])
else: 
     print(tickers[1], "tem menos risco que", tickers[0])

AGRO3.SA tem menos risco que CAML3.SA