In [133]:
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [134]:
tickers=["BBDC4.SA", "GGBR4.SA", "MGLU3.SA", "BRAP4.SA", "CMIG4.SA", "CAML3.SA"]
dist=np.array([19.13,18.49, 7.8, 1.39, 0.08, 0.97]) /100
carteira = yf.download(tickers, start="2019-01-01")['Adj Close'].dropna()
carteira.tail()

[*********************100%***********************]  5 of 5 completed

            BBDC4.SA  BRAP4.SA   CMIG4.SA   GGBR4.SA  MGLU3.SA
Date
2023-09-25     14.11     22.25  12.750056  24.400000      2.15
2023-09-26     13.96     22.02  12.480000  24.430000      2.10
2023-09-27     13.92     21.91  12.370000  24.450001      2.04
2023-09-28     14.25     22.33  12.400000  24.299999      2.05
2023-09-29     14.27     22.83  12.240000  24.170000      2.13

In [135]:
retorno_seguranca = np.log(carteira / carteira.shift(1))
retorno_seguranca.tail()

            BBDC4.SA  BRAP4.SA  CMIG4.SA  GGBR4.SA  MGLU3.SA
Date
2023-09-25 -0.002831 -0.020904  0.003871  0.005754 -0.041008
2023-09-26 -0.010688 -0.010391 -0.021408  0.001229 -0.023531
2023-09-27 -0.002869 -0.005008 -0.008853  0.000818 -0.028988
2023-09-28  0.023430  0.018988  0.002422 -0.006154  0.004890
2023-09-29  0.001403  0.022144 -0.012987 -0.005364  0.038282

In [136]:
retorno_seguranca[tickers].var()

BBDC4.SA    0.000569
GGBR4.SA    0.000750
MGLU3.SA    0.001689
BRAP4.SA    0.000927
CMIG4.SA    0.000537
dtype: float64

In [137]:
retorno_seguranca[tickers].var() *250

BBDC4.SA    0.142330
GGBR4.SA    0.187418
MGLU3.SA    0.422312
BRAP4.SA    0.231684
CMIG4.SA    0.134313
dtype: float64

In [138]:
cov_matrix = retorno_seguranca.cov()
cov_matrix_a = retorno_seguranca.cov() *250

In [139]:
corr_matrix = retorno_seguranca.corr()
corr_matrix

          BBDC4.SA  BRAP4.SA  CMIG4.SA  GGBR4.SA  MGLU3.SA
BBDC4.SA  1.000000  0.286501  0.583008  0.466277  0.344085
BRAP4.SA  0.286501  1.000000  0.263733  0.530448  0.173413
CMIG4.SA  0.583008  0.263733  1.000000  0.453645  0.396691
GGBR4.SA  0.466277  0.530448  0.453645  1.000000  0.297008
MGLU3.SA  0.344085  0.173413  0.396691  0.297008  1.000000

In [140]:
# Variancia carteira

cart_var = (np.dot(dist.T, (np.dot(retorno_seguranca.cov() *250, dist))))
cart_var

0.02259591593396104

In [141]:
# Volatividade carteira (risco)
cart_vol = (np.dot(dist.T, (np.dot(retorno_seguranca.cov() *250, dist)))) ** 0.5

print(round(cart_vol, 2) *100, "%")

15.0 %